#
# Verne MQ auth plugin translations - commands
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:VerneMqAuthPlugin!
# @subpackage	Translations
# @since		0.1.0
#
# @date			25.01.17
#

#
# COMMANDS
#

create:
    inputs:
        username:
            title	: "Username?"
        password:
            title	: "User default password?"
        clientId:
            title	: "User client id?"
        role:
            title	: "User access role?"
            values:
                user		: "Regular user"
                manager		: "System manager"
                device	    : "Device"

    validation:
        account:
            wasNotCreated	: "Account could not be created. Error was logged."

    success: "Account \"%name%\" was successfully saved."
